- if @alert.errors.any?
  %h2
    = pluralize(@alert.errors.count, "error")
    prohibited this user from being saved:
  %p There were problems with the following fields:
  %ul
    - @alert.errors.full_messages.each do |msg|
      %li= msg
